
{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

  <main>
    <div class="container container w-50 p-3">
         
            
              <h2>Login</h2>
              <form class="login" method="POST">
                {% csrf_token %}
                <div>
                  {{form.username.label_tag}}<br>
                  {{form.username}}
                </div>
                <div>
                  {{form.password.label_tag}}<br>
                  {{form.password}}
                </div>
                <button class="btn btn-primary mt-4" type="submit">Login</button>
              </form>
          
              <h2>Social Login</h2>

                <a class="btn btn-danger col-sm-8 mt-3" href="{% url 'social:begin' 'google' %}">
                    <i class="fa fa-google mr-2" style="font-size:26px;"></i>
                    Login with Google
                </a>
       
                  <a class="btn btn-primary col-sm-8 mt-3" href="{% url 'social:begin' 'facebook' %}">
                    <i class="fa fa-facebook mr-2" style="font-size:26px;"></i>
                      Login with Facebook
                  </a>
             
                <a class="btn btn-secondary col-sm-8 mt-3" href="{% url 'social:begin' 'github' %}">
                  <i class="fa fa-github mr-2" style="font-size:26px;"></i>
                    Login with Github
                </a>
          
           
           
    </div>
  </main>

{% endblock %}
