{% extends 'base.html'%}
{% block content %}
 <div class="container">
  <h2>Sign up</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      {% for field in form %}
      <p>
       <div>{{ field.label_tag }} </div>
     <div>   {{ field }}</div>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
      {% endfor %}
    <button type="submit" class="btn btn-secondary">Sign up</button>
  </form>
 </div>
{% endblock %}